{% extends "base.html" %}
{% block content %}
    <h1>Add Batch Formula</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.batch_description.label }}<br>
            {{ form.batch_description }}
        </p>
        <p>
            {{ form.liquor.label }}<br>
            {{ form.liquor }}
        </p>
        <h3>Ingredients</h3>
        {% for ingredient_form in form.ingredients %}
            <fieldset>
                <legend>Ingredient {{ loop.index }}</legend>
                <p>
                    {{ ingredient_form.ingredient.label }}<br>
                    {{ ingredient_form.ingredient }}
                </p>
                <p>
                    {{ ingredient_form.quantity.label }}<br>
                    {{ ingredient_form.quantity }}
                </p>
                <p>
                    {{ ingredient_form.unit.label }}<br>
                    {{ ingredient_form.unit }}
                </p>
            </fieldset>
        {% endfor %}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}