{% extends "base.html" %}
{% block content %}
    <h1>Create New Batch</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.batch_description.label }}
            {{ form.batch_description(rows=4) }}
            {% if form.batch_description.errors %}
                {% for error in form.batch_description.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.liquor.label }}
            {{ form.liquor }}
            {% if form.liquor.errors %}
                {% for error in form.liquor.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        
        <h3>Ingredients</h3>
        {% for ingredient_form in form.ingredients %}
            <fieldset>
                <legend>Ingredient {{ loop.index }}</legend>
                
                <div class="form-group">
                    {{ ingredient_form.ingredient.label }}
                    {{ ingredient_form.ingredient }}
                    {% if ingredient_form.ingredient.errors %}
                        {% for error in ingredient_form.ingredient.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ ingredient_form.quantity.label }}
                    {{ ingredient_form.quantity }}
                    {% if ingredient_form.quantity.errors %}
                        {% for error in ingredient_form.quantity.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ ingredient_form.unit.label }}
                    {{ ingredient_form.unit }}
                    {% if ingredient_form.unit.errors %}
                        {% for error in ingredient_form.unit.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
        {% endfor %}
        
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
{% endblock %}